.code-components {
  background-color: #eee;
  color: #069;
  padding: 0.5em 0;
  border: 1px solid #ebebeb;
  border-top: none;
  border-bottom: none;
  font-size: 12px;
}
.code-components-content {
  display: flex;
}
.code-components-open-tag {
  margin-left: 1em;
}
.code-components-code-body-content {
  margin-left: 1em;
  margin-top: 0.5em;
}
.code-components-code-body-content-describe {
  color: green;
}
.code-components-code-body-content-inside-struct-begin,
.code-components-code-body-content-inside-struct-end,
.code-components-code-body-content-inside-name--no-struct {
  margin-left: 1em;
}
.code-components-code-body-content-inside-name {
  margin-left: 2em;
}
.code-components-open-tag-attr {
  color: #636
}

.code-components-content--have-inside-tag {
  display: block;
}
.code-components-content--have-inside-tag .code-components-close-tag {
  margin-left: 1em;
}
.code-components-content--have-inside-tag .inside-tag {
  display: flex;
}
.code-components-content--have-inside-tag .inside-tag .code-components-open-tag {
  margin-left: 2em;
}
.code-components-content--have-inside-tag .inside-tag .code-components-close-tag {
  margin-left: 0em;
}
