//引入加载按钮样式
@import '../styles/ladda.scss';
.ladda-label {
  width: 100%;
}
//控制循环显示的button横向排列，并设置间距
.button-box,
.icon-button-box,
.ban-button-box,
.group-button-box,
.ladda-button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; //设置每个子元素的间距
  border: 1px solid #ebebeb;
  padding: 1em 1em;
  margin-top: 1em;
}
.text-button-box {
  border: 1px solid #ebebeb;
  padding: 1em 1em;
}
//基础按钮的样式
.base-button {
  width: 10%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 0;
  cursor: pointer;
}
.group-button-box {
  justify-content: flex-start;
}
.group-button {
  display: flex;
  width: 15%;
  margin-left: 1em;
  border: 1px solid #000;
}
.group-button .base-button {
  border: none;
  border-radius: 0;
  width: 100%;
}
//文字按钮
.base-button-text {
  border: none;
  background-color: #fff;
  color: #069;
}
.base-button:focus {
  outline: none;
}
.base-button:hover {
  opacity: 0.7;
}
.group-button-active {
  opacity: 0.8;
}
.base-button-ban {
  opacity: 0.5;
}
.base-button-ban.base-button-ban:hover {
  cursor: not-allowed;
  opacity: 0.5;
}
//按钮里面内容居中排列
.base-button-content {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
//按钮的图标排列
.button-icon {
  padding: 0.1em 0em;
  margin: 0 auto;
}
//按钮的文字排列
.button-label {
  margin: 0 auto;
}
//默认按钮样式
.base-button-default:hover {
  // border: 1px solid rgba(0,102,153,.1);
  // background-color: rgba(0,102,153,.1);
  // color: #069;
}
//主要按钮样式
.base-button-primary {
  background-color: #069;
  color: #fff
}
//成功按钮样式
.base-button-success {
  background-color: rgb(0, 153, 59);
  color: #fff
}
//信息按钮样式
.base-button-message {
  background-color: #999;
  color: #fff
}
//警告按钮样式
.base-button-warning {
  background-color: rgba(255, 136, 0, 0.877);
  color: #fff
}
//警告按钮样式
.base-button-danger {
  background-color: #c33;
  color: #fff
}
