.icon-components-box {
  display: flex;
  border: 1px solid #ebebeb;
  margin-top: 1em;
}
.icon-components-icon {
  margin: 1em;
  font-size: 2em;
}
.code-controller-button {
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
}
.code-controller-button:hover {
  color: #069;
}
.icon-components a {
  text-decoration: none;
  color: #000;
}
.icon-components a:hover {
  color: #069;
}
