.base-container-box,
.code-controller-box {
  border: 1px solid #ebebeb;
  padding: 1em 1em;
  margin-top: 1em;
}
.base-header,
.base-footer {
  width: 100%;
  background-color: #b3c0d1;
  text-align: center;
  line-height: 60px;
}
.base-main {
  width: 100%;
  background-color: #e9eef3;
  text-align: center;
  line-height: 300px;
}
.base-aside {
  float: left;
  width: 20%;
  background-color: #d3dce6;
  text-align: center;
  line-height: 300px;
}
.base-aside::after {
  content: '';
  clear: both;
}
.is-vertical {
  width: 80%;
  margin-left: 20%;
}
.is-vertical-1 {
  line-height: 360px;
}
.is-vertical-2 {
  line-height: 420px;
}
.code-controller-box .code-controller-button {
  display: none;
}
